In [ ]:
length = int(input("Enter length of squar: "))
breadth = int(input("Enter breadth of squar: "))
if length == breadth:
  print("It is a squar")
else:
  print("It is not a squar")

Enter length of squar: 12
Enter breadth of squar: 12
It is a squar

In [ ]:
length = int (input("Enter legth of squar: "))
breadth = int(input("Enter breadth of squar: "))
if length == breadth:
  print("It is a squar")
else:
  print("It is not a squar")

Enter legth of squar: 15
Enter breadth of squar: 10
It is not a squar

2. Take three integer values from the user and print the greatest among them.

In [ ]:
 num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 > num2:
    if num1 > num3:
        print(num1,"is the largest")
    else:
        print(num3,"is the largest")
else:
    if num2 > num3:
        print(num2,"is the largest")
    else:
        print(num3,"is the largest")

Enter first number: 14
Enter second number: 35
Enter third number: 45
45 is the largest

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [ ]:
held = int(input('Number of classes held : '))
attended = int(input('Number of classes attended : '))

attended_ratio = (attended/held) * 100


if attended_ratio >= 75:
  print('you are allow.')
else:
  print('You are not allow.')

Number of classes held : 44
Number of classes attended : 40
you are allow.

or

In [ ]:
attendance = 70
if attendance < 75:
    print("You are not allowed to sit in the exam.")
else:
    print("You are allowed to sit in the exam.")

You are not allowed to sit in the exam.

4.A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [ ]:
marks = int(input("Enter your marks: "))
if marks < 25:
    print("Your grade is F.")
elif marks >= 25 and marks <= 44:
    print("Your grade is E.")
elif marks >= 45 and marks <= 49:
    print("Your grade is D.")
elif marks >= 50 and marks <= 59:
    print("Your grade is C.")
elif marks >= 60 and marks <= 79:
    print("Your grade is B.")
elif marks >= 80 and marks <= 89:
    print("Your grade is A.")
else:
    print("Your grade is A+.")

Enter your marks: 55
Your grade is C.

In [ ]:
marks = int(input("Enter your marks: "))
if marks < 25:
    print("Your grade is F.")
elif marks >= 25 and marks <= 44:
    print("Your grade is E.")
elif marks >= 45 and marks <= 49:
    print("Your grade is D.")
elif marks >= 50 and marks <= 59:
    print("Your grade is C.")
elif marks >= 60 and marks <= 79:
    print("Your grade is B.")
elif marks >= 80 and marks <= 89:
    print("Your grade is A.")
else:
    print("Your grade is A+.")

Enter your marks: 76
Your grade is B.

In [ ]:
marks = int(input("Enter your marks: "))
if marks < 25:
    print("Your grade is F.")
elif marks >= 25 and marks <= 44:
    print("Your grade is E.")
elif marks >= 45 and marks <= 49:
    print("Your grade is D.")
elif marks >= 50 and marks <= 59:
    print("Your grade is C.")
elif marks >= 60 and marks <= 79:
    print("Your grade is B.")
elif marks >= 80 and marks <= 89:
    print("Your grade is A.")
else:
    print("Your grade is A+.")

Enter your marks: 84
Your grade is A.

5. Print the following pattern using for and while loop.

1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

In [ ]:
# Using for loop
for i in range(7, 3, -1):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [ ]:
# Using while loop
i = 7
while i > 3:
  j = 1
  while j <= i:
    print(j, end=" ")
    j += 1
  print()
  i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [ ]:
for i in range(-100, -9):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

sum = 0
for i in range(10, 1001):
    if is_prime(i):
        sum += i

print("The sum of all prime numbers between 10 and 1000 is:", sum)

The sum of all prime numbers between 10 and 1000 is: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [ ]:
n = 7
factorial = 1

if n < 0:
    print("Sorry, factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, n+1):
        factorial *= i
    print("The factorial of", n, "is", factorial)

The factorial of 7 is 5040

9. Reverse a given integer number 27956240710.

In [ ]:
number = 27956240710
reverse = 0

while number > 0:
    remainder = number % 10
    reverse = (reverse * 10) + remainder
    number = number // 10

print("The reversed number is:", reverse)

The reversed number is: 1704265972

10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

In [ ]:
for i in range(1, 4):
    for j in range(1, i+1):
        print("#", end=" ")
    print()

for i in range(2, 0, -1):
    for j in range(1, i+1):
        print("#", end=" ")
    print()

#
# #
# # #
# #
#

In [ ]:
i = 1
while i <= 3:
    j = 1
    while j <= i:
        print("#", end=" ")
        j += 1
    print()
    i += 1

i = 2
while i >= 0:
    j = 1
    while j <= i+1:
        print("#", end=" ")
        j += 1
    print()
    i -= 1

#
# #
# # #
# # #
# #
#

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [ ]:
n = 15
a = 0
b = 1

if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print("Fibonacci sequence upto", n, ":")
    print(a)
else:
    print("Fibonacci sequence:")
    for i in range(n):
        print(a, end=" ")
        c = a + b
        a = b
        b = c

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
n = 15
a = 0
b = 1

if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print("Fibonacci sequence upto", n, ":")
    print(a)
else:
    print("Fibonacci sequence:")
    for i in range(n):
        print(a, end=" ")
        c = a + b
        a = b
        b = c

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

12. Remove 2 and add 3 to the list and replace True with False.

Li = [1,3,5, [2,3], True]

Output = [1,3,5, [3,3], False]

In [ ]:
Li = [1, 3, 5, [2, 3], True]

for i in range(len(Li)):
    if Li[i] == 2:
        Li[i] = 3
    elif Li[i] == True:
        Li[i] = False

Li[3][0] = 3
Li.remove(3)

print("Output =", Li)

Output = [False, 5, [3, 3], False]

13. Find the intersection (common) of two sets.

S1 = {1,4,6,8}

S2 = {True, 1,2,10}

In [ ]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1.intersection(S2)

print("Intersection of S1 and S2 is:", intersection)

Intersection of S1 and S2 is: {True}

In [ ]:
S1 = {1, 4, 6, 8}
S2 = {False, 1, 2, 10}

intersection = S1.intersection(S2)

print("Intersection of S1 and S2 is:", intersection)

Intersection of S1 and S2 is: {1}

14. Input a list from the user then Remove duplicates from a list and create a 
set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [ ]:
user_input = [1, 9, 3, 4, 5, 200, 54]

unique_list = list(set(user_input))
max_number = max(unique_list)

print("List after removing duplicates:", unique_list)
print("Maximum number in the list is:", max_number)

List after removing duplicates: [1, 3, 4, 5, 200, 9, 54]
Maximum number in the list is: 200

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [ ]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["region"] = Dict.pop("country")

print("Dictionary after renaming the key:", Dict)

Dictionary after renaming the key: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [ ]:
import pandas as pd

num = [10, 100, 300]

df = pd.DataFrame({"number": num})

print(df)

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [ ]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["age"] = 28

print("Dictionary after changing the value of key 'age':", Dict)

Dictionary after changing the value of key 'age': {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}